body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image:url(/Class_Lab/walpaper.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
#heading{
    color:aqua;
    margin-top:200px;
    margin-bottom:50px;
    text-decoration: underline;
}
#medical{
    height:50px;
    width:100px;
    background-color: rebeccapurple;
}
#engineering{
    height:50px;
    width:100px;
    background-color: rebeccapurple;
}
#agriculture{
    height:50px;
    width:100px;
    background-color: rebeccapurple;
}
.link{
    color:white;
}